###### Requirements without Version Specifiers ######
BeautifulSoup4
datetime
ecomplexity
glob
json
networkx
numpy
matplotlib
pandas
pytz
request
tarfile
time
urllib

#

###### Requirements with Version Specifiers ######